<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.timeline.dao.CommentDAO">
 	<select id="selectCommentList" resultType="com.sns.timeline.model.Comment">
 		SELECT
 			`id`
 			,`userId`
 			,`postId`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`comment`
 	</select>
 
 </mapper>